{% layout 'layout.liquid' %} {% block content %}
<div class="container-md">
  <form action="/vehicles" method="POST">
    <fieldset>
      <legend>Create A Vehicle</legend>
      <label class="form-label">Company:</label>
      <input
        class="form-control"
        type="text"
        name="company"
        placeholder="enter company (EX: Honda, BMW)"
      />
      <label class="form-label">Model:</label>
      <input
        class="form-control"
        type="text"
        name="model"
        placeholder="enter Model (EX: Accord, Camry)"
      />
      <label class="form-label">Color:</label>
      <input
        class="form-control"
        type="text"
        name="color"
        placeholder="enter color"
      />
      <label class="form-label">Year:</label>
      <input
        class="form-control"
        type="text"
        name="year"
        placeholder="enter year"
      />
    </fieldset>
    <input type="submit" value="Create New Vehicle" class="btn btn-success" />
  </form>
</div>
{% endblock %}
