{% block content %}

<div class="card md-4 shadow">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <small>User: {{ username }}</small>
    </div>
    <p>{{ comment.note }}</p>
  </div>
</div>

{% endblock %}
