<div class="container-md">
  <form action="/main" method="POST">
    <fieldset>
      <legend>login here</legend>
      <label class="form-label">Username:</label>
      <input type="text" name="username" class="form-control" />
      <label class="form-label">Password:</label>
      <input type="password" name="password" class="form-control" />
    </fieldset>
    <input type="submit" value="Log In" class="btn btn-success" />
  </form>
</div>
