.card {
    margin: 5px;
    padding: 5px;
    display: inline-block;

}

#color {
    background-color: lightskyblue;
}

/* .hello {
    margin-left: 30%;
}

.center {
    margin-left: 125px; */



body {
    background-image: url(https://i.imgur.com/RwtG8eV.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-size: cover;
    font-family: cursive;
}

a {
    margin: 15px;
}

#logout {
    margin-left: 70%;
}