{% layout 'userlayout.liquid' %} {% block content %}

<div class="container-md">
  <form action="/signup" method="POST">
    <fieldset>
      <legend>Signup</legend>
      <label class="form-label">Username:</label>
      <input type="text" name="username" class="form-control" />
      <label class="form-label">Password:</label>
      <input type="password" name="password" class="form-control" />
    </fieldset>
    <input type="submit" value="Signup" class="btn btn-success" />
  </form>
  <a href="signin">Have an account? Press here</a>
</div>

{% endblock %}
